body {
    margin: 0;
}

/* Variables to display colors */
:root{
    --special-key-bcolor: rgb(77,182,172);
    --normal-key-bcolor: #2A2A3A;
    --top-bar-bcolor: #005e54;
    --profile-point: lawngreen;
    --day-box-bcolor: #FFE4B5;
    --message-recieved-bcolor: lightblue;
    --message-sent-bcolor: lightgreen;
    --white-color: white;
    --onhover-color: orange;
    --keyboard-background: lightslategrey;
    --main-black: black;
}


.mobile {
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-template-columns: 450px;
    grid-template-rows: 75px 550px 235px;
    justify-content: center;
}

/* Profile top bar */

.profile-box {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr;
    background: var(--top-bar-bcolor);
    color: #fff;
    padding: 0 8px;
    font-size: 24px;
    position: relative;
    z-index: 1;
}

.other-data-container {
    display: grid;
}

.profile-image img {
    display: grid;
    border-radius: 50%;
    width: 70%;
    height: 80%;
    margin: 8% 0 0 25%;
}

.profile-name {
    display: grid;
    justify-content: left;
    align-items: end;
    margin-left: 4%;
}

.profile-status {
    display: grid;
    grid-template-columns: 3% 97%;
    grid-template-rows: 1fr;
    font-size: small;
    justify-content: left;
    align-items: center;
    margin-left: 4%;
    margin-bottom: 2%;
}

.status-point {
    justify-content: left;
    width: 110%;
    height: 38%;
    border-radius: 60%;
    background: var( --profile-point);

}

.status-text {
    justify-content: left;
    align-items: center;
    margin-left: 4%;
}

/* Message displaying area */

.display-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("images/main-background.jpg") no-repeat;
    background-size: 455px;
}


.text-area {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    height: 85%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;

}

.day-box{
    display: flex;
    flex: 0;
    width: 60%;
    margin-bottom: 10px;
}

.day{
    font-family: "Roboto", sans-serif;;
    background-color: var(--day-box-bcolor);
    padding: 8px;
    margin-top: 30px;
    border-radius: 10px;
}

.message-sent {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    background-color: var(--message-sent-bcolor);
    border-top-left-radius: 15px 20px;
    border-bottom-left-radius: 15px 20px;
    border-bottom-right-radius: 15px 20px;
    min-width: 35px;
    max-width: 340px;
    padding: 2px;
    margin: 7px;
}

.message-received {
    display: flex;
    flex: 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    background-color: var(--message-recieved-bcolor);
    border-top-right-radius: 15px 20px;
    border-bottom-left-radius: 15px 20px;
    border-bottom-right-radius: 15px 20px;
    min-width: 35px;
    padding: 2px;
    margin-right: 165px;
    margin-bottom: 5px;
}


.text {
    margin-left: 10px;
    margin-right: 1px;
    word-break: break-all; /* Magic! */
}

.timestamp {
    justify-content: flex-end;
    font-size: 10px;
    margin-top: 40px;
    margin-right: 5px;
}


/* Message area: general box, input and buttons */

.message-area {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 9%;
    width: 95%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.emoji {
    font-size: 28px;
    width: 60px;
    background-size: cover;
    background-color: var(--special-key-bcolor);
    border-radius: 60%;
    cursor: pointer;
    margin-right: 3%;
}

.message-box {
    display: flex;
    background-color: var(--white-color);
    justify-content: left;
    width: 100%;
    align-items: center;
    border-radius: 25px;
    overflow: hidden;
}

#message {
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: wrap;
}

.message-area .send {
    background: url(images/send-triangle.png) no-repeat;
    background-size: cover;
    width: 62px;
    border-radius: 60%;
    cursor: pointer;
    margin-left: 3%;
}

/* Keyboard */

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: var(--keyboard-background);
    padding: 10px;
}

.kb-row-1 {
    display: flex;
    justify-content: space-between;
}
.kb-row-2 {
    display: flex;
    justify-content: space-between;

}
.kb-row-3 {
    display: flex;
    justify-content: space-between;
}
.kb-row-4 {
    display: flex;
}

.normal-key {
    font-size: 15px;
    text-align: center;
    width: 43px;
    height: 40px;
    line-height: 0;
    border-radius: 5px;
    padding: 19px 11px;
    background: var(--normal-key-bcolor);
    color: var(--white-color);
    box-shadow: 0 5px 0 0 var(--main-black);
    cursor: pointer;
}

.normal-key:hover, .special-key:hover{
    background: var(--onhover-color);
}

.special-key {
    font-size: 13px;
    text-align: center;
    height: 10px;
    line-height: 0;
    border-radius: 5px;
    padding: 20px 12px;
    background: var(--special-key-bcolor);
    color: var(--main-black);
    box-shadow: 0 3px 0 0 var(--main-black);
    cursor: pointer;
}

.space {
    padding: 20px 75px;
}

.special-chars-button, .mays-button {
    width: 65px;
    align-content: center;
    justify-content: center;
}

/* MEDIA QUERY */ /* FOR GALAXY S5 */

@media screen and (max-width: 360px), screen and (max-height: 640px) {

    /* General layout dimensions */
    .mobile {
        display: grid;
        grid-template-columns: 360px;
        grid-template-rows: 60px 370px 210px;
        justify-content: initial;
    }

    /* Profile top bar */
    .profile-name { font-size: 19px; }
    .status-point { width: 90%; height: 30% }
    .status-text { font-size: 10px }

    /* Message displaying area */
    .display-box{ background-size: 360px; }
    .message-received { margin-right: 120px; margin-left: 4px; }
    .day { font-size: 13px; padding: 6px; margin-top: 25px; }
    .message-sent {
        min-width: 30px;
        max-width: 255px;
        padding: 1px;
        margin: 3px 5px 2px 3px;
    }
    .text { font-size: 13px; }
    .timestamp { margin-top: 33px; }

    /* Message area: general box, input and buttons */
    .message-area { margin-bottom: 5%; margin-top: 5%; }
    .emoji { font-size: 20px; width: 46px; height: 38px }
    .message-box {height: 38px}
    #message { font-size: 13px; }
    .message-area .send { width: 50px; height: 38px; }

    /* Keyboard */
    .keyboard {padding: 8px;}
    .normal-key { width: 35px; height: 40px; padding: 16px 6px; }
    .special-key { font-size: 11px; padding: 19px 10px;}
    .special-chars-button, .mays-button { width: 52px; }
    .space { padding: 19px 55px; }
}