
.mobile {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 450px;
    grid-template-rows: 2.5fr 15fr 1.5fr 6fr;
    justify-content: center;
    align-content: center;
    grid-gap: 1px;
    height:100vh;
}

/* Profile top bar */

.profile-box {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr;
    background: #005e54;
    color: #fff;
    padding: 0 8px;
    font-size: 24px;
    position: relative;
    z-index: 1;
}

.other-data-container {
    display: grid;
}

.profile-image img {
    display: grid;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    margin: 11% 0 0 15%;
}

.profile-name {
    display: grid;
    justify-content: left;
    align-items: end;
    margin-left: 4%;
}

.profile-status {
    display: grid;
    grid-template-columns: 3% 97%;
    grid-template-rows: 1fr;
    font-size: small;
    justify-content: left;
    align-items: center;
    margin-left: 4%;
    margin-bottom: 2%;
}

.status-point {
    display: grid;
    justify-content: left;
    width: 110%;
    height: 30%;
    border-radius: 60%;
    background: lawngreen;

}

.status-text {
    display: grid;
    justify-content: left;
    align-items: center;
    margin-left: 4%;
}

/* Message displaying area */

.display-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    /*
    background: url("https://www.wallpapertip.com/wmimgs/5-55896_wallpaper-background-whatsapp-default-dark-whatsapp-dark-wallpaper.jpg") no-repeat;
     */
    background-size: 485px;
}

.text-area {
    display: flex;
    justify-content: right;
    height: 85%;
    width: 100%;
}

.current-day{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: lightyellow;
    font-family: "Roboto Thin";
    width: 30%;
    height: 5%;
}

.message-sent {
    display: flex;
    justify-items: right;
    flex-wrap: wrap;
    background-color: lightgreen;
    max-height: 10%;

}

.text {
    display: flex;
    flex-wrap: wrap;
}

.message-sent .timestamp{
    display: flex;
    flex-wrap: wrap;
}


/* Message area: general box, input and button */

.message-area {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 9%;
    width: 95%;

}

.message-box {
    display: flex;
    background-color: white;
    justify-content: left;
    width: 100%;
    align-items: center;
    border-radius: 25px;
    background-color: rebeccapurple;
    overflow: hidden;
}

#message {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: wrap;
}

.message-area .send {
    display: flex;
    background: url("https://w7.pngwing.com/pngs/856/257/png-transparent-computer-icons-button-tak-products-services-co-ltd-sales-office-icon-design-send-angle-triangle-grass-thumbnail.png") no-repeat;
    background-size: cover;
    width: 11%;
    border-radius: 60%;
    cursor: pointer;
    margin-left: 5%;
}

/* Keyboard */

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid black;

}

.kb-row-1 {
    display: flex;
    justify-content: space-between;
}
.kb-row-2 {
    display: flex;
    justify-content: space-between;

}
.kb-row-3 {
    display: flex;
    justify-content: space-between;
}
.kb-row-4 {
    display: flex;
}

.normal-key {
    display: flex;
    flex-basis: 100%;
    font-size: 15px;
    text-align: center;
    height: 10px;
    line-height: 0;
    margin: 2px;
    padding: 20px 15px;

    background: #2a2a2a;
    color: #aaa;
    box-shadow: 0 0 0 0.05em black;
    cursor: pointer;

}

.space {
    display: flex;
    flex-grow: 1;
    padding: 20px 75px;
}


